.table-responsive table {
  font-size: 10px;
}

.diski-table-button {
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.table-responsive table th,
.table-responsive table td {
  padding: 5px 5px;
  vertical-align: middle;
}

.table-responsive table th {
  color: black;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(179, 178, 178);
}

.table-search-input {
  padding-top: 18px;
  position: relative;
}

.btn-close {
  position: absolute;
  right: 0.5rem;
  top: 46%;
  transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #6c757d;
  cursor: pointer;
  padding: 0;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

@media (max-width: 767px) {
  .table-search-input {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sort-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin-left: 5px;
  padding: 0;
  color: black;
}

.sort-button:focus {
  outline: none;
}

.sort-button:hover {
  text-decoration: underline;
}

.form-control {
  height: 32px;
  font-size: 14px;
}

.form-control::placeholder {
  font-size: 14px;
}

.hidden-cell {
  display: none;
}

.banner-table-cell {
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination-container button {
  padding: 2px 10px;
  font-size: 11px;
  width: 80px;
  color: white;
  border: none;
}

.pagination-container span {
  font-size: 11px;
}

.subtle-homepage-company-link {
  color: inherit;
  text-decoration: none;
}

.subtle-homepage-company-link:hover {
  text-decoration: underline;
}

.extra-table-highlight {
  background-color: rgb(255, 250, 150);
}

.promo-header {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin: 0;
  line-height: 1.2;
  font-weight: 550;
  color: #000;
}