<div *ngIf="!isLoading && discountCodes.length === 0">
  <app-not-found></app-not-found>
</div>

<div *ngIf="!isLoading && discountCodes.length > 0">
  <div class="container-fluid">
    <div class="content">
      <app-navbar></app-navbar>
      <h1>{{ webshopName }} kortingscode</h1>

      <div class="row mb-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="social-banner alert alert-success" role="alert">
            Volg mij op <a href="https://www.instagram.com/wiegeeftkorting/" onclick="gtag('event', 'insta', {'event_category': 'Social', 'event_label': 'insta_top'});">insta</a> en
            <a href="https://www.tiktok.com/@wiegeeftkorting2" onclick="gtag('event', 'tiktok', {'event_category': 'Social', 'event_label': 'tiktok_top'});">tiktok</a> voor de nieuwste {{ webshopName }} kortingscodes
          </div>
        </div>
        <div class="col-sm-4"></div>

        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div *ngIf="!hasHttpCodes" class="social-banner alert alert-success giftcard-highlight" role="alert">
            €7.50 gift cards voor heel veel shops! (o.a. Zalando, My Jewellery) <a href="https://linktr.ee/wiegeeftkorting" target="_blank" onclick="gtag('event', 'giftcard', {'event_category': 'Giftcard', 'event_label': 'giftcard_companypage_topteaser'});">KLIK</a>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>

      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Kortingscode</th>
          <th>%</th>
          <th>Gespot op</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let code of discountCodes" [ngClass]="{'giftcard-highlight': code.code.startsWith('http')}">
          <td>
            <ng-container *ngIf="code.code.startsWith('http'); else showCode">
              <a [routerLink]="['/giftcards', company]" target="_blank" (click)="sendGiftcardEventsToGa()" class="bold-underlined-link">{{ webshopName | uppercase }} GIFTCARD</a>
              <div class="footnote">Werkt bovenop eventuele andere kortingscodes</div>
              <div *ngIf="company === 'leolive'" class="footnote">(zie laatste post <a href="https://www.instagram.com/wiegeeftkorting/" onclick="gtag('event', 'leolive', {'event_category': 'Leolive', 'event_label': 'leolive_link_insta'});">@wiegeeftkorting</a> voor actieve Le Olive kortingscodes)</div>
            </ng-container>
            <ng-template #showCode>
              {{ code.code }}
            </ng-template>
          </td>
          <td [ngClass]="{'vertical-centered': code.code.startsWith('http')}">{{ shouldDisplayPercent(code.discount) ? (code.discount + '%') : code.discount }}</td>
          <td [ngClass]="{'vertical-centered': code.code.startsWith('http')}">{{ formatDate(code.date) }}</td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="companySeoText !== undefined" class="description">
        <p [innerHTML]="companySeoText"></p>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>