.navbar {
  background-color: rgb(246, 204, 209) !important;
  margin-bottom: 10px;
}

.navbar-brand img {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.navbar-brand {
  gap: 10px;
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-left: auto;
  }
}
