<div class="banner-wrapper">
  <div class="banner" (click)="openMain()">
    <img class="search-icon" src="/banner/search-icon.png" alt="Search" width="44" height="44" />
    <div class="banner-text">
      <p class="nieuw-announcement">NIEUW</p>
      <p class="banner-text-big">
        Grote aankoop? Gebruik onze prijsvergelijker!
      </p>
    </div>

    <div class="product-boxes-wrapper">
      <div
        id="product-box-1"
        class="product-box"
        (click)="openProduct('amazon_kindle_scribe', $event)"
      >
        <img class="product-image-1" src="/banner/ereader.png" alt="" width="90" height="105" />
        <div class="price-wrapper">
          <p class="price-left">€129</p>
          <p class="price-chevron">></p>
          <p class="price-right">€100</p>
        </div>
      </div>
      <div
        id="product-box-2"
        class="product-box"
        (click)="openProduct('apple_airpods_max', $event)"
      >
        <img class="product-image-2" src="/banner/koptelefoon.png" alt="" width="93" height="97" />
        <div class="price-wrapper">
          <p class="price-left">€359</p>
          <p class="price-chevron">></p>
          <p class="price-right">€305</p>
        </div>
      </div>
      <div
        id="product-box-3"
        class="product-box"
        (click)="openProduct('apple_airpods_4', $event)"
      >
        <img class="product-image-3" src="/banner/earbuds.png" alt="" width="82" height="85" />
        <div class="price-wrapper">
          <p class="price-left">€155</p>
          <p class="price-chevron">></p>
          <p class="price-right">€122</p>
        </div>
      </div>
      <div
        id="product-box-4"
        class="product-box"
        (click)="openProduct('jbl_go_4', $event)"
      >
        <img class="product-image-4" src="/banner/speaker.png" alt="" width="103" height="107" />
        <div class="price-wrapper">
          <p class="price-left">€58</p>
          <p class="price-chevron">></p>
          <p class="price-right">€36</p>
        </div>
      </div>
      <div
        id="product-box-5"
        class="product-box"
        (click)="openProduct('apple_iphone_16', $event)"
      >
        <img class="product-image-5" src="/banner/phone.png" alt="" width="98" height="108" />
        <div class="price-wrapper">
          <p class="price-left">€799</p>
          <p class="price-chevron">></p>
          <p class="price-right">€670</p>
        </div>
      </div>
    </div>
    <img class="chevron-icon" src="/banner/chevron.png" alt="" width="13" height="26" />
  </div>
</div>
