<div class="container-fluid">
    <div class="content">
        <app-navbar></app-navbar>
        <h1>Diski prikbord: deel kortingscodes met elkaar</h1>

        <div class="text-center">
            <button class="btn btn-success mb-3" (click)="showModal(); sendEventToGa('Prikbord', 'voeg_code_toe')">Voeg kortingscode toe</button>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="social-banner alert alert-success" role="alert">
                    <div>
                        €7.50 gift cards voor heel veel shops! (o.a. Zalando) <a href="https://linktr.ee/wiegeeftkorting" target="_blank" onclick="gtag('event', 'giftcard', {'event_category': 'Giftcard', 'event_label': 'giftcard_prikbord_banner'});">KLIK</a>
                    </div>
                    <div>
                        €100 <a href="https://temu.to/m/u0p32ew176i" target="_blank" onclick="gtag('event', 'temu', {'event_category': 'Temu', 'event_label': 'temu_prikbord_banner'});">shoptegoed</a> en 30% korting bij Temu
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="mb-3 table-search-input">
                    <div class="input-wrapper">
                        <input
                                type="text"
                                class="form-control"
                                placeholder="Zoek op webshop..."
                                [(ngModel)]="searchTerm"
                                (input)="onSearch()"
                        />
                        @if (searchTerm) {
                        <button
                                type="button"
                                class="btn-close"
                                (click)="searchTerm = ''; onSearch()"
                                aria-label="Clear"
                        >&times;</button>
                        }
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        @for (item of paginatedPrikbordEntries; track item) {
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="card h-100 shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.webshop }}</h5>
                                        <p class="card-text">
                                            <strong>Code: </strong>
                                                @if (item.code.startsWith('http')) {
                                                    <a [href]="item.code" target="_blank" onclick="gtag('event', 'prikbord_linkje', {'event_category': 'PrikbordLinkje', 'event_label': 'prikbord_linkje'});">linkje</a>
                                                } @else {
                                                    {{ item.code }}
                                                }<br>
                                            <strong>Korting: </strong>
                                            <span>{{ item.percentage }}</span>
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted text-right small" [class.valuable-contributor]="item.isValuable">
                                        Toegevoegd door <strong>{{ item.added_by }}</strong>
                                        @if (item.isValuable) {
                                            <img src="/blue_checkmark.png" class="ml-1 rounded-circle" style="width: 16px; height: 16px;"/>
                                        }
                                        op {{ formatDate(item.date) }}
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="pagination-container">
                    <button
                            class="btn btn-primary btn-sm"
                            (click)="prevPage()"
                            [disabled]="page === 1"
                    >
                        Vorige
                    </button>
                    <span>Pagina {{ page }} van {{ totalPages }}</span>
                    <button
                            class="btn btn-primary btn-sm"
                            (click)="nextPage()"
                            [disabled]="page === totalPages"
                    >
                        Volgende
                    </button>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

    <app-footer></app-footer>
</div>

<app-prikbord-modal
        [isVisible]="modalVisible"
        (closed)="modalVisible = false"
        (added)="onCodeAdded($event)">
</app-prikbord-modal>
