<div class="container-fluid">
  <div class="content">
    <app-navbar></app-navbar>
    <h1>Contact</h1>

    <div class="container mt-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text mt-3">
            Duizenden online shoppers maken gebruik van de kortingscodes die ik deel via deze site en via <a href="https://www.instagram.com/wiegeeftkorting">&#64;wiegeeftkorting</a>.
            Heb je vragen, verzoeken of ideeën voor een samenwerking? Ik hoor graag van je!
          </p>
          <p class="card-text mt-3">
            Neem contact op via <strong><a href="mailto:info@diski.nl">info&#64;diski.nl</a></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>