<div class="container-fluid">
  <div class="content">
<!--    <app-navbar></app-navbar>-->
    <h1>Contact</h1>

    <div class="container mt-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Na een paar jaar Instagram en TikTok afstruinen op zoek naar kortingscodes,
            bevat mijn database nu een schat aan informatie:
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{flameEmoji}} <strong>20.000</strong> kortingscodes</li>
            <li class="list-group-item">{{influencerEmoji}} ruim <strong>4.500</strong> influencers</li>
            <li class="list-group-item">{{companyEmoji}} die samenwerkingen hebben met meer dan <strong>2.000</strong> bedrijven</li>
          </ul>
          <p class="card-text mt-3">
            Duizenden online shoppers maken gebruik van de kortingscodes die ik op deze site en via <a href="https://www.instagram.com/wiegeeftkorting">&#64;wiegeeftkorting</a>
            deel. Heb je vragen, verzoeken of ideeën voor een samenwerking? Ik hoor graag van je!
          </p>
          <p class="card-text mt-3">
            Neem snel contact op via <strong><a href="mailto:info&#64;diski.nl">info&#64;diski.nl</a></strong> (Natuurlijk ook als je gewoon een kortingscode wil doorgeven {{eyesEmoji}})
          </p>
        </div>
      </div>
    </div>
  </div>
<!--  <app-footer></app-footer>-->
</div>