@if (isVisible) {
    <div class="modal-backdrop" (click)="closeModal()"></div>
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">

                @if (!submitted) {
                    <div class="modal-header">
                        <h5 class="modal-title">Nieuwe code toevoegen</h5>
                        <button type="button" (click)="closeModal()" class="close-button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                <div class="modal-body">
                    @if (!submitted) {
                        <input [(ngModel)]="newRow.webshop" class="form-control mb-2" placeholder="Webshop" name="webshop" />
                        <input [(ngModel)]="newRow.code" class="form-control mb-2" placeholder="Kortingscode" name="code" />
                        <input [(ngModel)]="newRow.percentage" class="form-control mb-2" placeholder="%" name="percentage" type="number" />
                        <input [(ngModel)]="newRow.name" class="form-control mb-2" placeholder="Jouw naam (niet verplicht)" name="name" />
                    } @else {
                        <p class="alert alert-success mt-3">Dank je, de code is toegevoegd!</p>
                    }
                </div>

                <div class="modal-footer">
                    @if (!submitted) {
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuleren</button>
                        <button type="button" class="btn btn-success" (click)="submit()">Toevoegen</button>
                    } @else {
                        <button type="button" class="btn btn-primary" (click)="closeModal()">Sluiten</button>
                    }
                </div>

            </div>
        </div>
    </div>
}