h1 {
  text-align: center;
  font-size: 2rem;
}

.social-banner {
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 5px;
  padding: 3px;
}

.content {
  min-height: calc(100vh - 60px);
  margin-bottom: 0px;
}

.giftcard-highlight {
  background-color: rgb(255, 255, 200);
}

.visual-banner-homepage-table {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.banner-mobile {
  display: none;
}
.banner-desktop {
  display: block;
}

@media (max-width: 768px) {
  .banner-mobile {
    display: block;
  }
  .banner-desktop {
    display: none;
  }
}

@media (max-width: 767px) {
    .container-fluid,
    .col-sm-1,
    .col-sm-10 {
        padding-left: 0;
        padding-right: 0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .description {
        margin-left: 15px;
        margin-right: 15px;
    }
}


/* === Styles for components that make use of discount-table format === */

.table-responsive table {
  font-size: 10px;
}

.diski-table-button {
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.table-responsive table th,
.table-responsive table td {
  padding: 5px 5px;
  vertical-align: middle;
}

.table-responsive table th {
  color: black;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(179, 178, 178);
}

.table-search-input {
  padding-top: 18px;
  position: relative;
}

.btn-close {
  position: absolute;
  right: 0.5rem;
  top: 46%;
  transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #6c757d;
  cursor: pointer;
  padding: 0;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

@media (max-width: 767px) {
  .table-search-input {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sort-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin-left: 5px;
  padding: 0;
  color: black;
}

.sort-button:focus {
  outline: none;
}

.sort-button:hover {
  text-decoration: underline;
}

.form-control {
  height: 32px;
  font-size: 14px;
}

.form-control::placeholder {
  font-size: 14px;
}

.hidden-cell {
  display: none;
}

.banner-table-cell {
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination-container button {
  padding: 2px 10px;
  font-size: 11px;
  width: 80px;
  color: white;
  border: none;
}

.pagination-container span {
  font-size: 11px;
}