<table class="table table-bordered table-striped table-hover mt-3">
    <thead class="thead-light">
        <tr>
            @for (header of headers; track header) {
                <th>{{ header }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of rows; track row) {
            <tr>
                @for (cell of row; track cell) {
                    <td>{{ cell }}</td>
                }
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" (click)="showModal()">Voeg kortingscode toe</button>

<app-community-modal
        [isVisible]="modalVisible"
        (closed)="modalVisible = false"
        (added)="onCodeAdded($event)">
</app-community-modal>
