<table class="table table-bordered table-striped table-hover mt-3">
    <thead class="thead-light">
        <tr>
            @for (header of headers; track header) {
                <th>{{ header }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of rows; track row) {
            <tr>
                @for (cell of row; track cell) {
                    <td>{{ cell }}</td>
                }
            </tr>
        }
    </tbody>
</table>

<input [(ngModel)]="newRow.webshop" placeholder="Webshop" name="webshop">
<input [(ngModel)]="newRow.code" placeholder="Kortingscode" name="code">
<input [(ngModel)]="newRow.percentage" placeholder="%" name="percentage" type="number">
<input [(ngModel)]="newRow.date" placeholder="Datum" name="date" type="date">
<input [(ngModel)]="newRow.name" placeholder="Jouw naam" name="name">

<button (click)="addRow()">Toevoegen</button>
